{% extends 'base.html' %}
{% block head %}
  <title>AI Builders Project</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='classification.css') }}">
{% endblock %}

{% block content%}
<h1>CATsification 😻</h1>
    <h2>The cat classification AI Model.</h2>
    <p style="margin-bottom: 0.5em;">Upload your cat pictures to get recommendations on what subreddit you can post your cat on!</p>
    <details {{detailStatus}} style="max-width: 600px; font-size: smaller; display:block; margin:auto; margin-bottom: 0.5em;">
      <summary>More info please!</summary>
      <p style="text-align:center">With over 30 subreddits available in the recommendation list, you might as well discover new communities on Reddit with cats that look similar to yours.
        <br>To learn more about how I made this, visit this <a href="https://pawin.tk/links/CATsification-blog">link.</a> 
        <br>Anyways, I really hope you enjoy this, and have a wonderful day! :)</p>
    </details>

  <center>
      <hr style="width:60%; margin:auto;">

      {%if image_base64 %}
      <image src='data:image/jpeg;base64,{{ image_base64 }}' class="withborders"></image>
      {% endif %}

      <span style="display: block; max-width: fit-content; padding: 4px 8px; background-color: #1a242f" class="withborders">
        <p style="margin: 0px auto; font-size: small;">Upload your image here:</p>
        <form action="/ai" method="post" enctype="multipart/form-data" style="margin:auto;">
          <input type="file" name="file" accept="image/*" onchange="document.querySelector('#submitbutton').click()" style="margin-top: 1em; margin-bottom: 1em; text-align: center;">
          <input style="display: none; height: 0px;" id="submitbutton" type="submit" value="Upload Image">
        </form>
      {% if sample_images %}
      <span style="display: block; max-width: fit-content; padding: 4px 8px;" class="withborders">
        <p style="margin: 0px auto; font-size: small;">Or just pick an example:</p>
        <div style="display: inline; height: fit-content;">
         {% for item in sample_images %}
            <a href="/ai/demo/{{ item }}"> <image src='/static/ai_samples/{{ item }}' style='max-height: 3em; padding: 0px 2px;'></image> </a>
          {% endfor %}
        </div>
      </span>
      {% endif %}
    </span>
    </center>

  {{predictionTable|safe}}
  
  {%if alternativesTable %}
  <details>
    <summary>View other alternative predictions.</summary>
    {{alternativesTable|safe}}
  </details>
  {%endif%}

  <footer style="margin-top: 1em">
    <center>
      Deployment: <code>v1</code>  |  AI Model: <code>catsification-large-v3.5</code>  |  Model Status: <code>{{modelStatus}}</code>
    </center>
  </footer>
{% endblock%}